$v-app-loading-text: "Loading";

$v-background-color: hsl(0, 0, 99.5%);
$v-app-background-color: #fff;
$v-focus-color: hsl(218, 80%, 60%);
$v-border: 1px solid (v-shade 0.6);
$v-border-radius: 3px;
$v-bevel: inset 0 1px 0 v-tint;
$v-textfield-bevel: false;
$v-gradient: v-linear 3%;
$v-shadow: false;
$valo-menu-background-color: hsl(218, 20%, 98%);
$v-friendly-color: hsl(163, 61%, 41%);
$v-error-indicator-color: hsl(349, 66%, 56%);
$v-font-size: 12px;
$v-unit-size: 20px;
$v-layout-margin-top: 10px; 
$v-layout-margin-right: 10px; 
$v-layout-margin-bottom: 10px; 
$v-layout-margin-left: 10px; 

@import "../valo/valo";

.tests-valo-light .valo-menu .valo-menu-title {
  background: $v-app-background-color;
  color: $v-selection-color;
  text-shadow: none;
  border-color: first-color(valo-border($color: $v-app-background-color, $strength: 0.5));
}

@mixin light {
  @include valo;
  // Insert your own theme rules here
  
  div.v-formlayout.halfScreen {
  	max-width: 750px !important;
  }
  
  div.buttonBar {
  	 white-space: normal !important;
  }
  
  div.buttonBar .v-slot {
  	padding-bottom: 5px;
  }
  
  div.ocsDialog {
  	width: 600px !important;
  }
  
  div.attributePanel td.v-formlayout-captioncell {
  	 width: 20%;
  }
  
  div.divider .v-table-header table, div.divider .v-table-table {
      border-collapse: collapse;
  }
  
  td.v-table-cell-content-divider {
  	border-top: 1px solid black;
  }

}