vaadin-vertical-layout {
	margin: 0px;
	padding-left: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
}

img.imagePreview {
	max-width: 100px;
	max-height: 100px;
}

.ocsDialog {
	width: 800px !important;	
}

.dialogTitle {
	background-color: var(--lumo-primary-color) !important;
	color: white !important;
}


[part="content"] {
	padding-left: 0px !important;
	padding-right: 0px !important;	
}
