<div [class]="class">
  <div [class]="rowClass">
    <div
      class="col-lg-8 col-md-8 col-sm-12 pt-2"
      *ngIf="getSelectedValueString()"
    >
      {{ getSelectedValueString() }}
    </div>
    <div
      class="col-lg-8 col-md-8 col-sm-12 pt-2"
      *ngIf="!getSelectedValueString()"
    >
      <i>{{ "nothing_selected" | translate }}</i>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-end">
      <div class="btn-group" role="group">
        <button
          type="button"
          class="btn btn-danger"
          (click)="clear()"
          [disabled]="selectedValues.length == 0 || disabled"
        >
          <span class="pi pi-times"></span>
        </button>
        <button
          class="btn btn-primary"
          type="button"
          (click)="showDialog()"
          [disabled]="disabled"
        >
          <span class="pi pi-search"></span>
        </button>

        <button
          class="btn btn-primary"
          type="button"
          (click)="showQuickAddDialog()"
          [disabled]="disabled"
          *ngIf="isQuickAddButtonVisible()"
        >
          <span class="pi pi-plus"></span>
        </button>
        <ng-template #popupDialogContainerRef></ng-template>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [showHeader]="false"
  [(visible)]="dialogVisible"
  [style]="{ width: '70vw' }"
  [modal]="true"
>
  <app-generic-search-layout
    *ngIf="dialogVisible"
    [entityName]="entityName"
    [entityModelReference]="entityModelReference"
    [locale]="locale"
    [selectedIds]="selectedIds"
    [multiSelect]="multiSelect"
    (onRowSelect)="onRowSelect($event)"
    [locale]="locale"
    [nested]="true"
    [searchImmediately]="true"
    [defaultFilters]="defaultFilters"
    [queryType]="queryType"
  ></app-generic-search-layout>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-danger m-1" (click)="cancel()">
      <span class="pi pi-times"></span> {{ "cancel" | translate }}
    </button>
    <button
      type="button"
      class="btn btn-success m-1"
      (click)="selectAndClose()"
    >
      <span class="pi pi-check"></span>
      {{ "ok" | translate }}
    </button>
  </div>
</p-dialog>
